@charset "utf-8";
@import "vars";

%clearfix{
	@include clearfix();
}

/*form base*/
// hint
// numberはブラウザによってボタンが付与される
// 

input[type=text],input[type=password],
input[type=email],input[type=number],input[type=url],
input[type=search],input[type=tel]{
	background:#fff;
	margin-right: 5px;
	margin-bottom: 5px;
	padding:5px 3px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	&.inline{
		margin-left: 5px;
	}
	&.block{
		display: block;
		margin-right: 0;
		width: 100%;
	}
	&.em2{
		width: 2.5em;
	}
	&.em3{
		width:3.5em;
	}
	&.em4{
		width: 4.5em;
	}
}


// hint
// html5 UIはブラウザ依存
input[type=datetime-local],input[type=date],
input[type=month],input[type=week],
input[type=time],input[type=datetime]{}

// hint
// optionを弄るなら独自で作成する
// multipleを考慮してheightは指定しない。
//　もしくは[multiple]にて別途指定する。
select{
	background:#fff;
	margin-bottom: 12px;
	margin-right: 5px;
	padding:5px 3px 5px 3px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	&:first-child{
		margin-left: 0;
	}
}

//
textarea{}

// ブラウザ依存が激しい為弄らないが吉
input[type=file]{}

// hint
// cakeと連動する場合FormHelperに合わせること
.checkboxList,.radioList{
	label{}
	input[type=checkbox],input[type=radio]{}
	.horizontal{}
	.vertical{}
	.col{}
}
.checkboxWrap{
	position: relative;
	display: block;
	label{
		display: block;
		padding: 8px 12px 8px 40px;
		font-size: 13px;
		font-weight: bold;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid #d5d5d5;
		border-radius: 4px;
		background:#313131;
		color:#ccc;

	}
	input{
		position: absolute;
		top:50%;
		left:8px;
		margin-top: -7px;
		&:checked + label{
			color: #fff;
			background:#555;
		}
	}
}
// hint
// confirm用classを用意しておけば word-breakなどの指定を忘れ難い。
// また、テキストの位置調整にも悩まされ難い。
.inputConfirmText{}
.inputConfirmSelect{}
.inputConfirmTextarea{}

/* form layouat */
.formWrap{}
.oneLinerForm{
	margin:5px 0;
}
