---
title: HOME 
path: ./
layout: ajaxtest
---
#frame style="margin-top:100px;width:600px;height:300px;"
	iframe src="http://p.eagate.573.jp/game/gfdm/gitadora/p/cont/play_data_tb/skill.html"
	/ img src="http://p.eagate.573.jp/game/gfdm/gitadora/p/cont/play_data_tb/skill.html"
#button framebutton
p aouteio
#output
#test2
#test3
#test4