@charset "UTF-8";
@import "reset";
@import "mixin";

$path:"../img/";
$bgc1:#313336;
$bgc2:#5e6472;

$fc1:#a7a7b6;
$fc2:#fff;

body{
	font-family:sans-serif;
	font-size: 12px;
	line-height: 1.6;
}
a{
	color:#f0f;
}
.hide,.dataOutput{
	display: none;
}
.wrapper{
	@extend %clearfix;
	min-width:1200px;
}
.sideCol{
	padding:20px 10px;
	width: 216 - 10 - 10px ;
	background:$bgc1;
	// float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index:1000;
	h1{
		@include txtimg(180,54);
		margin: 0 auto;
		background-image: url(#{$path}logo.png);
	}
	.pageCopy{
		margin-top: 32px;
		font-size: 10px;
		color:$fc1;
	}
	nav{
		ul{
			margin-top: 32px;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			margin-right: -10px;
		}
		li{
			cursor:pointer;
			margin-bottom: 1px;
			padding: 0 6px;
			height: 30px;
			line-height: 30px;
			background:#4a4f53;
			display: block;
			margin-left: auto;
			width: 196 - 6 - 6px;
			&.current{
				width: 206 - 6 - 6px;
			}
			&:hover{
				background:darken(#4a4f53,5%);
			}
			a{
				color:#fff;
			}
		}
	}
}
footer{
	position: relative;
	z-index: 1200;
	background:#111;
	text-align: right;
	padding: 2px;
	// border-top: 1px solid #ccc;
	color:$fc1;
}
.mainContents{
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 236px;
	min-width:1200 - 236px;
	// background:$bgc2;
	background:darken($bgc1,5%);
	color:$fc2;
}
select{
	margin: 0;
	padding: 5px 6px;
	height: 26px;
	border: 1px solid #666;

	&#importSelect{
		width: 206px;
	}
	&#importType{
		width: 125px;
	}
}
input[type=text],input[type=number]{
	padding:5px 6px;
	height: 12px;
	&#importUrl2{
		width: 250 - 6 - 6px;
	}
	&#importUrl1{
		width: 37 - 6 - 6px;
	}
}
button{
	padding: 6px 5px;
	border-radius: 3px;
	min-width: 120px;
	border: none;
	background: #888;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	&:hover{
		background: #777;
	}
	&.current{
		background: #333;
	}
}
h2{
	height: 37px;
	line-height: 37px;
	font-size: 24px;
	color:$fc2;
	span{
		padding-left: 12px;
		border-left: 3px solid #fff;
	}
}
h3{
	font-size: 16px;
	margin-bottom: 5px;
	line-height: 1;
}

.sectionBlock{
	@extend %clearfix;
	margin-top: 20px;
	&:first-child,&:nth-child(2){
		margin-top: 0;
	}
}
.importArea{
	@extend %clearfix;
	padding-top: 16px;
	height: 60 - 16px;
	.importSelect{
		margin-right: 20px;
		float:left;
	}
	form{
		float:left;
	}
	.val2{
		display: none;
	}
	button{
		margin-left: 10px;
		margin-right: 10px;
	}
	.sup{
		margin-top: 2px;
		line-height: 1;
		font-size: 10px;
		a{
			margin-right: 5px;
		}
	}
}
.dataDetailArea{
	height: 169 + 37px;
}
.dataWraiten{
	margin-right: 20px;
	width: 452px;
	height: 169px;
	float:left;
	border-right: 1px solid #34363a;
	dl{
		margin-right: 20px;
		width: 206px;
		float: left;
	}
	dt{
		margin-bottom: 14px;
		padding-top: 6px;
		width: 85px;
		float: left;
		clear: both;
		font-size: 20px;
		font-weight: bold;
	}
	dd{
		margin-bottom: 14px;
		font-size: 24px;
		font-weight: bold;
		padding-left: 70px;
		padding-bottom: 3px;
		border-bottom: 1px dashed #666;
		text-align: right;
	}
}
.dataCalc{
	width: 451px;
	float: left;
	background: rgba(55,55,55,0.5);
	border-radius: 3px;
	padding: 20px;
	.mathGenre{
		margin-bottom: 5px;
	}
	input{
		margin-bottom: 5px;
		width: 82px;
	}
	span{
		font-size: 22px;
		margin-right: 5px;
		margin-left: 5px;
	}
}
.graphWrap{
	@extend %clearfix;
	height: 353px;
	.graphHeader{
		height: 100%;
		position: relative;
		float:left;
		margin-right: 20px;
		width: 206px;
		button{
			width: 206px;
		}
		.controlArea{
			position: absolute;
			bottom:0;
			button{
				margin-bottom: 10px;
				border-radius:30px;
				&:last-of-type{
					margin-bottom: 0;
				}
				&.current{
					background: #333;
				}
			}
		}
	}
	.graphInnerWrap{
		// float:left;
		margin-left: 226px;
		
	}
	.graph{
		min-width: 718px;
		height: 353px;
		background:#999;
	}
}
.calcContents{
	h3{
		margin-bottom: 20px;
		font-weight: bold;
		// &:before{
		// 	content:"▼";
		// }
	}
	.mathWrap{
		border-top: 1px solid #3a3d42;
		padding:20px 10px;
		&:last-child{
			border-bottom: 1px solid #3a3d42;
		}
		.innerWrap{
			width: 944px;
			@extend %clearfix;
		}
	}
	.mathInput{
		margin-bottom: 10px;
		float:left;
		input{
			margin:0 5px;
		}
	}
	.mathOutput{
		float:right;
		text-align: right;
		span{
			font-size: 22px;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
	.type3{
		input{
			margin-bottom: 5px;
		}
	}
}
.howToArea{
	h3{
		margin-top: 10px;
	}
	ol{
		margin-bottom: 20px;
		padding-left: 30px;
		li{
			margin-bottom: 5px;
			list-style-type:decimal;
		}
	}
	ul{
		margin-bottom: 20px;
		padding-left: 30px;
		li{
			margin-bottom: 5px;
			list-style-type:disc;
		}
	}
}
aside{
	ol{
		margin-bottom: 20px;
		padding-left: 30px;
		li{
			margin-bottom: 5px;
			list-style-type:decimal;
		}
	}
	ul{
		margin-bottom: 20px;
		padding-left: 30px;
		li{
			margin-bottom: 5px;
			list-style-type:disc;
		}
	}
	.updates,.wannaList{
		padding:10px;
		border: 3px solid #3a3d42;
		background:#111;
		height: 171px;
		overflow-y: scroll;
		li{
			padding-bottom: 3px;
			margin-bottom: 3px;
			border-bottom: 1px dashed #3a3d42;
			&.did{
				span{
					text-decoration: line-through;
				}
				&:before{
					content:'済み';
					margin-right: 10px;
				}
			}
		}
	}
	.snsBtn{
		position: fixed;
		top:20px;
		right:20px;
	}
	.affiliateArea{
		position: fixed;
		bottom:20px;
		left:20px;
		z-index:1250;
		p{
			width: 175px;
			img{
				border: 1px solid #0ff;
				border-radius: 5px;
				width: 100%;
				&:hover{
					border-color: #0cc;
				}
			}
		}
	}
}
.toTerminal{
	font-size: 12px;
	a{
		display:block;
		width: 150px;
		height: 30px;
		line-height: 30px;
		background:#4a4f53;
		border-radius: 2px;
		box-shadow:0px 0px 3px 0px #eee;
		color: $fc2;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		&:hover{
			background:darken(#4a4f53,5%);
		}
	}
}
#fc2_footer{
	background: #111;
	z-index: 1200;

	 ~ img{
		display: none;
	}
}
.sp{
	// $perWidth : 320px;
	$perWidth : 100%;

	max-width:auto;
	width: $perWidth;
	min-width:320px !important;
	.sideCol{
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		position: static;
		padding:10px;
		height:60px;
		background:$bgc1;
		width: auto;
		// width: $perWidth - 20px;
		width: $perWidth;
		h1{
			float:none;
			margin: 0;
			@include txtimg(90,27);
			background-size: 90px 27px;
			-webkit-background-size: 90px 27px;
			background-image: url(#{$path}logo.png);
		}
		nav{
			@extend %clearfix;

			position: relative;
			background:#222;
			height: 30px;
			margin-top: 5px;
			margin-right:-10px;
			margin-left:-10px;
			ul{
			width: 100%;
				@extend %clearfix;
				margin: 0;
				position: relative;
				float:left;
				top: 0;
				left:-50%;
				color: #fff;
				font-size: 12px;
				font-weight: normal;
			}
			li{
				top: 0;
				position: relative;
				left:50%;
				cursor:pointer;
				float: left;
				padding: 0;
				margin-bottom: 0;
				margin-left: 0;
				text-align: center;
				width: 20%;
				height: 30px;
				line-height: 30px;
				background:#4a4f53;
				&.current{
					width: 20%;
					background:darken(#4a4f53,5%);
				}
				&:hover{
					background:darken(#4a4f53,5%);
				}
			}
		}
	}
	footer{
		position: relative;
		z-index: 1200;
		background:#111;
		text-align: center;
		padding: 2px;
		// border-top: 1px solid #ccc;
		color:$fc1;
	}
	.mainContents{
		margin:0;
		padding: 0 0 30px;
		min-width:320px;
		width: 100%;
		// background:$bgc2;
		background:darken($bgc1,5%);
		color:$fc2;
	}
	select{
		display: block;
		margin: 0;
		padding: 5px 6px;
		height: 26px;
		border: 1px solid #666;

		&#importSelect{
			width: 206px;
		}
		&#importType{
			width: 125px;
		}
	}
	input[type=text],input[type=number]{
		padding:5px 6px;
		height: 12px;
		&#importUrl2{
			width: 250 - 6 - 6px;
		}
		&#importUrl1{
			width: 37 - 6 - 6px;
		}
	}
	button{
		margin:10px 0 15px;
		padding: 6px 5px;
		border-radius: 3px;
		min-width: 120px;
		width: 100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border: none;
		display: block;
		background: #888;
		font-weight: bold;
		font-size: 12px;
		color: #fff;
		cursor: pointer;
		letter-spacing: 1px;
		&:hover{
			background: #777;
		}
	}
	h2{
		height: 37px;
		line-height: 37px;
		font-size: 20px;
		color:$fc2;
		span{
			padding-left: 12px;
			border-left: 3px solid #fff;
		}
	}
	h3{
		font-size: 14px;
		margin-bottom: 5px;
		line-height: 1.3;
	}

	.sectionBlock{
		@extend %clearfix;
		margin-top: 20px;
		padding:0 10px;
		&:first-child,&:nth-child(2){
			margin-top: 0;
		}
	}
	.importArea{
		@extend %clearfix;
		padding-top: 16px;
		height: auto;
		.importSelect{
			margin-bottom: 5px;
			margin-right: 0px;
			float:none;
		}
		.importType{
			margin-right: 20px;
			float:left;
		}
		.val1{
			@extend %clearfix;
		}
		form{
			float:none;
		}
		.val2{
			display: none;
		}
		button{
			margin-left: 0px;
			margin-right: 0px;
		}
		.sup{
			margin-top: 15px;
			margin-bottom: 10px;
			line-height: 1.6;
			font-size: 10px;
			a{
				margin-right: 5px;
			}
		}
	}
	.dataDetailArea{
		height: auto;
	}
	.dataWraiten{
		margin-right: 0px;
		margin-bottom: 20px;
		width: 100%;
		height: auto;
		float:left;
		border-right: none;
		border-bottom: 1px solid #34363a;
		dl{
			margin: 0 0 20px;
			min-width: 140px;
			width:50%;
			float: left;
		}
		dt{
			margin-bottom: 5px;
			padding-top: 6px;
			width: 75px;
			float: left;
			clear: both;
			font-size: 14px;
			font-weight: bold;
		}
		dd{
			margin-right: 20px;
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: bold;
			padding-left: 60px;
			padding-bottom: 3px;
			border-bottom: 1px dashed #666;
			text-align: right;
		}
	}
	.dataCalc{
		padding: 10px;
		width: 100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		float: left;
		background: rgba(55,55,55,0.5);
		border-radius: 3px;
		.mathGenre{
			margin-right: 5px;
			margin-bottom: 5px;
			display: inline-block;
		}
		input{
			margin-bottom: 5px;
			width: 82px;
		}
		span{
			font-size: 22px;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
	.graphWrap{
		@extend %clearfix;
		height: auto;
		.graphHeader{
			height: auto;
			position: relative;
			float:none;
			margin-right: 0px;
			width: 100%;
			button{
				width: 100%;
			}
			.controlArea{
				position: static;
				margin-top: 15px;
				margin-bottom: 15px;
				button{
					margin-bottom: 10px;
					border-radius:30px;
					&:last-of-type{
						margin-bottom: 0;
					}
				}
			}
		}
		.graphInnerWrap{
			// float:left;
			margin-left: 0;
			
		}
		.graph{
			min-width: 320px;
			height: 250px;
			background:#999;
		}
	}
	.calcContents{
		h3{
			margin-bottom: 20px;
			font-weight: bold;
			// &:before{
			// 	content:"▼";
			// }
		}
		.mathWrap{
			border-top: 1px solid #3a3d42;
			padding:20px 10px;
			&:last-child{
				border-bottom: 1px solid #3a3d42;
			}
			.innerWrap{
				width: auto;
				@extend %clearfix;
			}
		}
		.mathInput{
			margin-bottom: 10px;
			float:none;
			input{
				margin:5px 5px;
			}
			select{
				display: inline-block;
			}
		}
		.mathOutput{
			float:none;
			text-align: right;
			span{
				font-size: 22px;
				margin-right: 5px;
				margin-left: 5px;
			}
		}
		.type3{
			input{
				margin-bottom: 5px;
			}
		}
	}
	.howToArea{
		h3{
			margin-top: 10px;
		}
		ol{
			margin-bottom: 20px;
			padding-left: 15px;
			li{
				margin-bottom: 5px;
				list-style-type:decimal;
			}
		}
		ul{
			margin-bottom: 20px;
			padding-left: 15px;
			li{
				margin-bottom: 5px;
				list-style-type:disc;
			}
		}
	}
	aside{
		padding:0 10px;
		ol{
			margin-bottom: 20px;
			padding-left: 15px;
			li{
				margin-bottom: 5px;
				list-style-type:decimal;
			}
		}
		ul{
			margin-bottom: 20px;
			padding-left: 15px;
			li{
				margin-bottom: 5px;
				list-style-type:disc;
			}
		}
		.updates,.wannaList{
			margin-bottom: 0;
			padding:10px;
			border: 3px solid #3a3d42;
			background:#111;
			height: auto;
			overflow-y: visible;
			li{
				list-style-type:none;
				padding-bottom: 3px;
				margin-bottom: 3px;
				border-bottom: 1px dashed #3a3d42;
				&.did{
					span{
						text-decoration: line-through;
					}
					&:before{
						content:'済み';
						margin-right: 10px;
					}
				}
			}
		}
		.snsBtn{
			position: fixed;
			top:20px;
			right:20px;
		}
		.toTerminal{
			margin-top: 20px;
			a{
				display: block;
				width: auto;
			}
		}
	}
	.slideWrap{
		height: 100px;
		padding-bottom:25px;
		overflow: hidden;
		position: relative;
		.openButton{
			text-align: center;
			width: 100%;
			height: 30px;
			line-height: 30px;
			background: #777;
			position: absolute;
			bottom:0;
			left:0;
			cursor:pointer;
		}
	}
}