@charset "UTF-8";
@import "reset";
@import "mixin";

//メディアクエリーズ
$sp : 'max-width:680px';
$pc : 'min-width:681px';


/*
sample
	@media screen and ($sp){
		.hoge{
	
		}
	}

*/
/*def.scss by RE:*/
.adingoFluctOverlay{
	display: none;
	visibility: hidden;
	/*ad*/
}
.hide{
	display: none;
}
.did{
	text-decoration: line-through;
}
html,body{
	min-height:100%;
}
body{
	background:#454545;
	color:#ccc;
	line-height: 1.5;
	font-size: 12px;
	font-adjust:100%;
	font-family:sans-serif;
	@media screen and ($sp){
		min-width:100%;
	}
	@media screen and ($pc){
		min-width:1200px;
	}
}
input,select{
	padding:5px;
	&#importUrl{
		width:250px;
	}
	&.perInput{
		margin: 0 5px;
		width: 5em;
	}
	&.levelInput{
		margin:0 5px;
		width: 4em;
	}
	&.pointInput{
		width: 7em;
	}
}
button{

	padding:6px 5px;
	border-radius: 3px;
	min-width:120px;
	border: none;
	background:#888;
	font-weight: bold;
	font-size: 12px;
	color:#fff;
	cursor:pointer;
	letter-spacing:1px;
	&:hover{
		background:#777;
	
	}
	&.current{
		background:#333;
	}
	&.disable{
		background:#666;
		color:#999;
	}
	@media screen and ($sp){
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		font-size: 12px;
		margin: 5px auto;
		display:block;
		width: 100%;

	}
}
a{
	color:#cc33cc;
	&:hover{
		text-decoration: none;
	}
}
h1{
	padding:5px 10px;
	background:#000;
	color:#eee;
	box-shadow: 0 1px 2px 1px #777;
	font-size: 18px;
	font-weight: bold;
	@media screen and ($sp){
		font-size: 13px;
	}
}
.pageCopy{
	text-align: right;
	padding-top: 5px;
	@media screen and ($sp){
		padding:5px 10px;
		font-size: 11px;
		text-align: left;
	}
}
.attentionLoadWrap{
	width: 100%;
	height:100%;
	min-height:700px;
	background: rgba(0,0,0,0.6);
	position: fixed;
	.attentionLoad{
		box-shadow:0px 1px 5px 0px #aaa;
		padding:20px;
		background:#999;
		width: 400px;
		height:200px;
		position: fixed;
		top:50%;
		left:50%;
		margin-top: -100px;
		margin-left: -150px;
		border-radius: 3px;
		p{
			line-height: 180px;
			text-align: center;
			font-size: 16px;
		}
	}
}
.mainContents{
	padding:0 20px 20px;
	@media screen and ($sp){
		padding: 10px;
	}
}
.howto{
	position: fixed;
	top:5px;
	right:20px;
	padding:5px;
	background:#000;
	border-radius: 3px;
	@media screen and ($sp){
		font-size: 11px;
		line-height: 1;
	}
}
.inputArea{
	margin-bottom: 20px;
	.sup{
		font-size: 10px;
		color:#aaa;
		letter-spacing: 2px;
	}

}
h2{
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 5px solid #ccc;
	font-size: 16px;
	font-weight: bold;
	@media screen and ($sp){
		padding-bottom: 3px;
		font-size: 13px;
		border-bottom: 1px solid #ccc;
	}
}
.spNavi{
	@extend %clearfix;
	display: none;
	@media screen and ($sp){
		margin:0 -5px 20px;
		display: block;
		li{
			box-sizing:border-box;
			-webkit-box-sizing:border-box;
			border-left: 1px solid #333;
			border-bottom: 1px solid #333;
			padding: 10px;
			background:#ccc;
			color:#000;
			float:left;
			width: 33%;
			text-align: center;
			&:first-child{
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			&:last-child{
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
			&.current{
				background:#777;
				color:#fff;
			}
		}
	}
}
.subContents{
	@extend %clearfix;
}
.dataWraiten{
	@extend %clearfix;
	margin-bottom: 20px;
	float:left;
	dl{
		margin-right: 20px;
		width: 150px;
		float:left;
	}
	dt{
		padding-top: 6px;
		width: 60px;
		float:left;
		clear:both;
	}
	dd{
		font-size: 18px;
		font-weight: bold;
		padding-left: 70px;
		padding-bottom: 3px;
		border-bottom: 1px dashed #666;
		text-align: right;
	}
	@media screen and ($sp){
		float:none;
		dl{
			width: 100%;
		}

	}
}
.mathWrap{
	// margin-top: -35px;
	margin-right: 20px;
	margin-bottom: 20px;
	float:left;
	background:rgba(55,55,55,0.5);
	border-radius: 3px;
	padding:20px;
	span{
		font-size: 18px;
		margin-right: 5px;
		margin-left: 5px;
	}
	.mathInput{
		margin-bottom: 5px;
	}
	.mathGenre{
		margin-bottom: 5px;
	}
	.levelInput{
		margin-bottom: 5px;
	}
	@media screen and ($sp){
		float:none;
		margin-right: 0;
		padding: 10px;

	}
}

.dataOutput{
	font-size: 10px;
	@extend %clearfix;
	@media screen and ($sp){
		display: none;
	}
	.hotOutput,.oldOutput{
		margin:10px;
		float:left;
	}
	ul{
		padding-left:10px;
		ul{
			padding-left: 20px;
		}
	}
}
.graphWrap{
	.graphHeader{
		@extend %clearfix;
		margin-bottom: 10px;
	}
	.btnArea{
		float:right;
	}
	.controlArea{
		float:left;
	}
	@media screen and ($sp){
		.graph{
			width:640px;
		}
		.btnArea{
			float:none;
		}
	}
}
.graph{
	clear:both;
	margin-top: 10px;
	height:400px;
	background: #999;
}
footer{
	border-top: 1px solid #222;
	margin-top: 30px;
	padding:5px 15px 5px 5px;
	text-align:right;
}
.howToArea{
	h3{
		font-size: 13px;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	ol{
		padding-left: 20px;
		list-style:decimal;
	}
	ul{
		padding-left: 20px;
		list-style:disc;
	}
	li{
		margin-bottom: 5px;
		line-height: 1.3;
	}
}