@charset "UTF-8";
@import "reset";
@import "mixin";

$path:"../img/";
$bgc1:#313336;
$bgc2:#5e6472;

$fc1:#a7a7b6;
$fc2:#fff;

body{
	font-family:sans-serif;
	font-size: 12px;
	line-height: 1.6;
	position: relative;
	background:$bgc2;
}
a{
	color:#f0f;
}
.hide{
	display: none;
}
.loader{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -16px;
	margin-left: -16px;
	z-index:5000;

}
h1{
	height: 54px;
	padding:3px 0;
	background:$bgc1;
	span{
		@include txtimg(180,54);
		margin-left:10px;
		background-image: url(#{$path}logo.png);
	}
}
h2{
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
	font-size: 24px;
	color:$fc2;
	span{
		padding-left: 12px;
		border-left: 3px solid #fff;
	}
	+p{
		color:$fc2;
		margin-bottom: 5px;
	}
}
.wrap{
	padding:20px;
}
#alphaLayer{
	position: fixed;
	background:rgba(0,0,0,0.6);
	width: 100%;
	min-height:250px;
	top: 0;
	left: 0;
	z-index:2000;
}

.drawTable{
	margin:20px 0;
	table-layout: fixed;
	// width: 100%;
	.frame{
		width: 50px;
	}
	.part{
		width: 70px;
	}
	.title{
		
	}
	.level{
		width: 70px;
	}
	thead{

		th{
			padding:5px 10px;
			font-weight: bold;
			background:darken($bgc2,5%);
			color:#fff;
			// border-right: 1px solid #eee;
			border-top: 1px solid #eee;
		}
	}
	tbody{
		
		td{
			border-bottom: 1px dashed #eee;
			// background:#aaa;
			padding:5px 10px;

			&:last-child{
				font-size: 15px;
				font-weight: bold;
				letter-spacing:1px;
			}
		}
	}
	tr{
		&.mas{
			background:#3A3A99;
			color:mix(#fff,#3A3A99,75%);
		}
		&.ext{
			background: #C92B2B;
			color:mix(#fff,#C92B2B,75%);
		}
		&.adv{
			background: #968903;
			color:mix(#fff,#968903,75%);
		}
		&.bsc{
			background: #0682C0;
			color:mix(#fff,#0682C0,75%);
		}
	}
}
form{
	select{
		margin: 0 5px;
		padding:5px 10px;
		display: inline-block;
	}
	input[type="checkbox"]{
		display: none;
		&:checked + label{
			background:mix($bgc2,#000,50%);
			color:$fc2;
		}
	}
	label{
		border: 1px solid #eee;
		border-radius: 5px;
		padding:10px;
		display: block;
		width: 230px;
		margin:10px 0 10px 5px;
		color:#aaa;
		vertical-align: middle;
		text-align: center;
		cursor:pointer;
	}
	button,.button{
		cursor:pointer;
		margin:10px 0 15px 5px;
		padding: 10px 5px;
		border-radius: 3px;
		min-width: 120px;
		width: 252px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border: none;
		display: block;
		background: #888;
		font-weight: bold;
		font-size: 12px;
		color: #fff;
		cursor: pointer;
		letter-spacing: 1px;
		&:hover{
			background: #777;
		}
	}
	.button{
		text-align: center;
		position: relative;
		span{
			position: absolute;
			right:10px;
			top:50%;
			margin-top: -0.5em;
			line-height: 1;
			font-size: 24px;
			font-weight: bold;
		}
	}
	.exFormHeadline{
		margin-top: 15px;
		margin-bottom: 5px;
		color:$fc2;
		font-size: 14px;
		line-height: 1.6;
	}
}
.settingPartWrap{
	@extend %clearfix;
	label{
		//230 - 10 - 10 - 10 - 10 / 4 = 190 / 4 = 4
		margin-right: 0px;
		padding:5px;
		width: 46px;
		float:left;
		&:nth-of-type(4n+1){
			clear:both;
		}
	}
}
.exForms{
	padding-bottom:10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.snsBtn{
	position: fixed;
	top:20px;
	right:20px;
}
